.bg {
    background-image: url('../Assets/hiclipart.com.png');
    background-size: 100% auto; 
    background-repeat: no-repeat;   
    width: auto;
    height: 100%;
}

.btn-site {
    background-color: rgb(255, 102, 0) !important;
    color: rgb(255, 255, 255) !important;
    margin-top: 10px;
    margin-left: 50%;
}

.centraliza {
    margin-top: auto;
    margin-bottom: auto;
}

.card{
    opacity: 90%;
    height: 70%;
    width: 70%;
    margin: auto;
}
.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 3%;
}
.icone {
    height: 30px;
    width: auto;
    margin-left: 5px;
}
.page-content {
    margin-top: 0.5%;
}